body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #040404;
}

.homepage {
    display: flex;
    height: 100%;
    width: 100%;
}

header {
    background-color: #e7d80d;
    padding: 10px;
    width: 270px;
    box-shadow: 2px 0 5px rgba(75, 124, 132, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

nav ul li {
    padding: 3px 4px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

nav ul li img {
    width: 24px; 
    height: 24px;
    margin-right: 8px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    flex: 1;
}

nav ul li a:hover {
    background-color: #00eab0;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profil-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #00a80b;
}

.profil-name {
    margin-top: 8px;
    font-size: 0.9em;
    text-align: center;
}

.profil footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.profil footer a {
    margin: 0 5px;
}

.profil footer img {
    width: 20px;
    height: 20px;
}

.background {
    flex: 1;
    background: url('img/pantai.jpg') no-repeat center center;
    background-size: cover;
}

/* Media query for small screens */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
    }

    header {
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav ul li {
        margin-top: 0;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
    }

    .background {
        height: 300px;
        background-size: cover;
    }
}

/* Media query for landscape mode */
@media (orientation: landscape) {
    .background {
        height: 100%;
        background-size: cover;
    }

    header {
        height: 100vh;
    }
}
